<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyCpwk0eEtMu5ZEPpDdwhF08tB-pP-I7uiI</string>
	<key>GCM_SENDER_ID</key>
	<string>900739795256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>schoolabe.Student-Attendance-Predictor</string>
	<key>PROJECT_ID</key>
	<string>bunk-planner-2935b</string>
	<key>STORAGE_BUCKET</key>
	<string>bunk-planner-2935b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:900739795256:ios:6e2ebc7efd3a0791b759cd</string>
</dict>
</plist>
